page-fastagregister {
.otp {
  color: darkgray;
 
  width: 80px;
  height: 20px;
  font-size: 16px;
   

}
.text-input:-ms-input-placeholder {
  color: white;
}

td {
  border: 2px solid darkgray
}

table {
  border-collapse: collapse;
}
.footb
{
text-align:center;
width:100%;
margin:0px 0px 0px 0px;
color:white;
height:100%;
font-size:18px;
}
}
