page-invoice {
.uggg
{
border: 2px solid darkgray;
height:300px;

}
.vhnvhn
{
text-align:right;

}
.hghjh
{
background-color:#C7EAFB;
height:12%;


}
.ngffg
{
background-color:#E6E7E8;
}
.footb
{
text-align:center;
width:100%;
margin:0px 0px 0px 0px;
color:white;
height:100%;
font-size:18px;
}
}
