page-contact {
.text
{
 border-left: 0.5px solid;
 border-bottom: 0.5px solid;
}
input[type=text], select {
    width: 100%;
    padding: 5px 10px;
    
   
}
input[type=number], select {
    width: 100%;
    padding: 5px 10px;
    
   
}
.pad
 {
 margin-top:10px;
 }
.lab
{
padding-left:10px;
 
}
.footb
{
text-align:center;
width:100%;
margin:0px 0px 0px 0px;
color:white;
height:100%;
font-size:18px;
}
}
