page-rechargeinfo {
.ghghhgh
{
    background-color: #00AFEF;
	height:35px;
}
.vsfdf
{
margin-top:20px;
color:white;


}
.otp {
  color: darkgray;
 
  width: 27px;
  height: 20px;
  font-size: 12px;
   display:inline-block;
   margin-top:0px;
   border-bottom: 2px solid darkgray;
}
.text-input-md
{
margin-top:0px;
}
.hghgh6
{
border:2px solid darkgray;
width:200px;
margin-left:50px;
}
.footb
{
text-align:center;
width:100%;
margin:0px 0px 0px 0px;
color:white;
height:100%;
font-size:18px;
}
}
